mixin bigBtn(title)
 .button-wrapper
  .button= title
    img(src="/assets/img/arrow_forward.svg")
mixin littleInput(title)
  .litInp
    .litInpTitle=title
    input(type="text" placeholder ="ДД.ММ.ГГГГ")
    .litInpDate
      p ДД.ММ.ГГГГ
      img(src="/assets/img/expand_more.svg")
mixin bigInputWithIMG(title1, title2, img)
  .bigInp
    .bigInpTitle= title1   
    .bigInpDate
      p= title2
      if(img)      
        img(src="/assets/img/expand_more.svg")
mixin bigInput(title1)
    .bigInpDate
      p= title1  