mixin bigBtn(text)
 button.bigBtn-button
  .bigBtn-text= text
    img(src="assets/img/arrow_forward.svg") 
mixin littleBtnActiveWithBackground(options)
 button.littleBtnActiveWithBackground-button(class= options.class)
  .littleBtnActiveWithBackground-text= options.text 
mixin littleBtnNotActiveWithBackground(text)
 button.littleBtnNotActiveWithBackground-button
  .littleBtnNotActiveWithBackground-text= text
mixin littleBtnActiveWithoutBackground(text)
 button.littleBtnActiveWithoutBackground-button
  .littleBtnActiveWithoutBackground-winner
    .littleBtnActiveWithoutBackground-text= text
mixin littleBtnActiveWithoutBackground2(text)
 button.littleBtnActiveWithoutBackground2-button
  .littleBtnActiveWithoutBackground2-winner
    .littleBtnActiveWithoutBackground2-text= text
mixin littleBtnNotActiveWithoutBackground(text)
 button.littleBtnNotActiveWithoutBackground-button
  .littleBtnNotActiveWithoutBackground-winner
    .littleBtnNotActiveWithoutBackground-text= text            
mixin btnTextWithLightColor
 p.btnTextWithLightColor CLICK ME  
mixin btnTextWithDarckColor
 p.btnTextWithDarckColor CLICK ME 
mixin mainTitle(title)
 p.mainTitle= title  
 